:root {
    --form-padding-left: 0px;
    --second-form-col-height: 500px;
    --letter-spacing: 0.04em;
}

/* override browser default */
html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
html,
body {
    height: 100%;
    width: 100%;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Fenix";
    src: url("./fonts/Fenix/Fenix-Regular.ttf");
    font-family: "Open Sans";
    src: url("./fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf")
}

.master-container {
    display: flex;
    flex-direction: row;
}

.master-form-container {
    height: 100%;
}

.company-intro {
    min-height: 100vh;
}

.logo-background {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 150px;
}

.master-container img {
    width: 200px;
}

.company-logo figure {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.company-logo figcaption {
    font-size: 2.5em;
    font-family: "Fenix", serif;
    position: relative;
    right: -25px;
    color: white;
}

.company-intro {
    width: 40%;
    background: url("./images/background.jpg") no-repeat;
    background-size: cover;
}

.master-form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.master-p-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    padding-left: var(--form-padding-left);
    margin-bottom: 50px;
    padding-left: 50px;
}

.form-description {
    /* height:  px; */
    background-color: #eaeaea;
    position: relative;
}

.master-form-container>section:nth-child(3) {
    height: 400px;
    z-index: -1;
    background-color: #eaeaea;
}

.main-form {
    /* background-color: #c8ced1; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    padding-left: var(--form-padding-left)
}

.form-top-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cfcdcd;
    box-shadow: 0 4px 10px -2px gray;
    gap: 25px;
    padding: 10px;
}

.form-bot-wrapper {
    flex-grow: 1;
}

.form-box {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.form-box>div {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    /* background-color: #83c1f8; */
}

.form-container .form-box input {
    height: 25px;
    font-size: 1em;
    border: 1.5px solid #cfcdcd;
    border-radius: 5px;
    padding-left: 5px;
}

.form-container .form-box input:focus {
    outline: none;
}

.form-container .form-box label {
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #717171;
    letter-spacing: var(--letter-spacing);
}

.account-functions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #ffffff;
}

button[type="submit"] {
    z-index: 1;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px -2px gray;
    background-color: #2896f6;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: var(--letter-spacing);
    color: #ffffff;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #268ae1;
}

button[type="submit"]:active {
    background-color: #1276ce;
}

.master-form-container>section:nth-child(3)>* {
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    top: 120px;
    font-size: 1em;
    padding-left: var(--form-padding-left);
    font-weight: 600;
}

span.go-to-welcome-page {
    font-weight: 750;
    color: #1097ff;
    text-decoration: underline;
}

.input-container {
    position: relative;
}

label.phone-number>span {
    position: absolute;
    font-size: 0.8em;
    padding-left: 4px;
    padding-top: 1px;
}

input+span {
    position: absolute;
    color: red;
    bottom: -20px;
}

.already-have-account {
    display: inline;
    user-select: none;
    height: 100px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.long-error {
    bottom: -40px;
}

* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 850px) {
    .main-form {
        display: flex;
        flex-direction: column;
    }

    .form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .form-top-wrapper{
        gap: 0px;
    }
}